.venv/
docs/
scratch/
.env
__pycache__/
.pytest_cache/
*.pyc
*.txt
*.csv
*.xlsx
*.json   
*.pdf

# dbt
dbt_avantages_sportifs/target/
logs/
*.log
dbt_avantages_sportifs/dbt_packages/
dbt_avantages_sportifs/.user.yml

# Outputs
outputs/